@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");


.input-length{
    width:29px;
    height: 16px;
    margin-top: 12px;
}
.input{
    width: 250px;
    height: 37px;
     border: none;
    
     position: relative;
     left: 36px;
      margin-top: 20px;
      font-size: 17px;
      color: white;
      background-color: rgba(0, 0, 0, 0.4);
       
     
}
.text h1{
    text-align: center;
     position: relative;
     top: 22px;
     color: white;
  
}
body{
    background-color: rgba(85, 13, 252, 0.904);
    font-family: "Muli", sans-serif;
}
.text{
    background-color:  rgb(173, 215, 231);
     width: 330px;
     height: 430px;
}
.list{
    margin-left: 40px;
    color: white;
    margin-top: 3px;
}
.list button{
    width: 250px;
    height: 30px;
    background-color: rgba(85, 13, 252, 0.904);
    border: none;
    color: white;
    font-size: 17px;

}
.list .set{
    display: flex;
    justify-content: space-between;
    

   
    
}
.list input{
    margin-right: 45px;
     
}